* {
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
body {
    margin: 0;
}
.container {
    margin: 0 auto;
    top: 319px;
}
.first-screen {
    height: 100vh;
    background-image: url('Rectangle.png');
}
.first-screen__subtitle {
    font-family: Montserrat;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #FFFFFF;
}
.first-screen__title {
    font-family: Montserrat;
    font-weight: 800;
    font-size: 48px;
    line-height: 1.2;
    text-align: center;
    color: #FFFFFF;
    margin-top: 30px;
    margin-bottom: 30px;
}
.first-screen-button {
    width: 200px;
    height: 45px;
    border-radius: 30px;
    background-color: #4985FF;
    line-height: 20px;
    text-align: center;
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.first-screen__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.servises {
    padding-top: 110px;
}
.servise-title {
    width: 50%;
    font-family: Montserrat;
    font-weight: bold;
    font-size: 36px;
    line-height: 53px;
    text-align: center;
    color: #323232;
    margin: 0 auto;
}
.lorem {
    font-family: Montserrat;
    font-size: 16px;
    line-height: 25px;
    text-align: center;
    color: #999999;
    flex-direction: column;
    justify-content: center;
}
.services-item {
    width: 353px;
    height: 139px;
    display: flex;
    justify-content: center;
}
/* button {
    width: 50px;
    height: 50px;
}
button:nth-child(1) {
    background: yellow;
}
button:nth-child(2) {
    background: blue;
}
button:nth-child(3) {
    background: orange;
}
button:nth-child(4) {
    background: pink;
}
button:nth-child(5) {
    background: red;
}
.screen {
    width: 100px;
    height: 100px;
    background: red;
}
button:nth-child(1):focus ~ .screen {
    background: yellow;
}
button:nth-child(2):focus ~ .screen {
    background: blue;
}
button:nth-child(3):focus ~ .screen {
    background: orange;
}
button:nth-child(4):focus ~ .screen {
    background: pink;
}
button:nth-child(5):focus ~ .screen {
    background: red;
}
.menu {
    opacity: 0;
    transition: 0.3s all linear;
}
.burger-icon {
    display: block;
    width: 30px;
    height: 30px;
    background: green;
}
.menu-burger {
    display: none;
 
}
.menu-burger:checked + .menu {
    opacity: 1;
} */